:root {
    --darkest-blue: #01377d;
    --blue: #009dd1;
    --light-blue: #97e7f5;
    --lightest-blue: #e2f0ff;
    --yellow: #73d348;
    --green: #26b170;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: var(--light-blue);
  color: var(--darkest-blue);
}

h1 {
    font-size: 250%;
}

header h1 {
    display: flex;
    background-color: var(--blue);
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin-right: 60px;
  font-size: 125%;
}

nav li {
  background-color: unset;
  color: var(--blue);
  font-weight: bold;
  border-bottom: 2px solid var(--darkest-blue);
  padding-inline: 5px;
  padding-bottom: 5px;
}

nav li:hover {
  color: var(--darkest-blue);
  border-bottom: 2px solid var(--darkest-blue);
  font-size: 101%;
}

main {
  display: flex;
  justify-content: column;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--lightest-blue);
}

main div h1 {
  display: flex;
  color: var(--green);
  padding: 1%;
  flex: 0;
  margin-left: 220px;
  margin-right: 120px;
  flex: 1;
}

main div article {
  display: flex;
  margin-left: 40px;
  line-height: 2;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--lightest-blue);
  }

  footer h1 {
    display: flex;
    text-align: right;
    border-right: 6px solid var(--yellow);
    color: var(--green);
    flex: 0;
    margin-left: 220px;
    margin-right: 120px;
  }
  
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    font-size: 125%;
    flex: 2;
  }
  
  footer li {
    background-color: unset;
    color: var(--blue);
    font-weight: bold;
    border-bottom: 2px solid var(--darkest-blue);
    padding-inline: 5px;
    padding-bottom: 5px;
  }

  footer li:hover {
    color: var(--darkest-blue);
    border-bottom: 2px solid var(--darkest-blue);
    font-size: 101%;
  }

  a {
    text-decoration: none;
  }